menu "MQTT Wifi Example"

config WIFI_SSID
    string "Wifi SSID"
    default ""
    help
        SSID (network name) to connect to.

config WIFI_PASSWORD
    string "Wifi Password"
    default ""
    help
        WiFi password

config MQTT_USERNAME
    string "MQTT username"
    default ""
    help
        This can also sometimes be the access key.

config MQTT_PASSWORD
    string "MQTT Password"
    default ""
    help
        MQTT password.


endmenu
